<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
          <a routerLink="create" routerLinkActive="active" class="nav-link">Add Employee</a>
      </li>
    </ul>
</nav>

<h2 class="md">Full Stack Demo using Angular and Springboot</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>